@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

.container {
    width: 80%;
    margin: auto;
}
.special-red {
    font-family: sans-serif;
    color: #a00000;
    font-size: 15px;
}

.active {
  color: #a00000;
}

.facebook, .twitter, .instagram {
    font-size: 15px;
}
.facebook {
    color: blue;
    font-weight: 500;
}
.twitter {
    color: cyan;
    font-weight: 500;
}
.instagram {
    color: purple;
    font-weight: 500;
}

/* online status */
.chat-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 5px; 
  right: 5px; 
  z-index: 1000;
}

.chat-text {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.chat-button {
  padding: 10px 20px;
  background-color: #c00;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.chat-button:hover {
  background-color: #900;
}
/* end online */
.vertical-menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  z-index: 999;
}

.menu-item {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: orange;
}

.menu-item > i:hover {
  color: white;
}

.menu-item img {
  width: 24px;
  height: 24px;
}
/* Back to top */
#back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 60px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  display: none; 
  transition: opacity 0.3s ease;
}

#back-to-top.show {
  display: flex; 
  opacity: 1;
}
/* -----End Back to top----- */
/* Header section */
header {
    background:  rgb(155, 10, 10);
    color: #fff;
    padding: 10px 0;
}



.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    margin-inline: auto;
}

.top-nav > .top-nav-right ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.top-nav > .top-nav-right ul li:not(:first-child) {
    border-left: 1px solid white;
}
.top-nav > .top-nav-right ul li a {
    color: white;
    text-decoration: none;
    padding-inline: 10px;
}

@media screen and (max-width: 952px) {
    header {
      padding:0;
    }
    .top-nav {
        width: 100%;
        margin-top: 0;
        margin-inline: auto;
    }
    .top-nav > .top-nav-left {
        display: none;
    }
    .top-nav > .top-nav-right {
        width: 100%;
    }
    .top-nav > .top-nav-right ul li a{
        font-size: 10px;
        text-align: center;
    }
}

.middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
}

.middle-nav-left > div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.middle-nav-left > div > i {
    color: #f90;
}
.middle-nav > .middle-nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
} 

.middle-nav-left > h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media screen and (max-width: 952px) {
  .middle-nav > .middle-nav-left > div {
    display:none;
  }
  .middle-nav > .middle-nav-right > .search-container {
    display: none;
  }
}

.middle-nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.search-box {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #a00000;
}
.search-input {
    border: none;
    padding: 10px 20px;
    width: 150px;
    outline: none;
}
.search-button {
    background-color: #8b0000; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}
.search-input::placeholder {
    color: #ddd;
}
.icon-wrapper {
    position: relative;
    display: inline-block;
    transition: all .5s;
  }
  .icon-wrapper > i:hover {
    color: orange;
    cursor: pointer;
  }
  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
  }

  .icon-large {
    font-size: 32px;
    color: orange;
  }
.bottom-nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.bottom-nav > .search-container {
  display: none;
}
  .menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menu a:hover {
    color: red;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .ham {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .ham > nav ul li a{
    font-weight: bold;
    font-size: 30px;
  }
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
  
header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.search-bar {
    float: right;
    margin-top: 10px;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background: #f90;
    color: white;
}

@media screen and (max-width: 952px) {
  .bottom-nav  {
    width: 100%;
  }
  .bottom-nav > .search-container {
    display: block;
  }
  .menu-list{
    display: none;
  }
  .menu-btn-txt {
    display: none;
  }
}

/* End of header section */

/* Intro carousel */
.banner {
  margin: 10px 0;
  height: 400px;
  display: flex;
}
.banner-1, .banner-2 {
  width: 50%;
}
.banner-2 img {
  width: 100%;
  height: 400px;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .banner {
    margin: 0;
  }
  .banner-1 {
    width: 100%;
  }
  .banner-2 {
    display: none;
  }
  
  swiper-slide img {
    object-fit: cover;
  }
}


/* end intro carousel */

/* Credits section */

.credits {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid rgb(124, 107, 107);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.credits > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
}

.credits > div > .text > h6, p {
  margin: 0;
  padding: 0;
}

.credits > div > .text > p {
  font-size: 12px;
}

i.credits-icon {
  color: #f90;
}

@media screen and (max-width: 1200px) {
  .credits {
    display: none;
  }
}

/* end credits section */


/* Product section */

.product-slider-container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.accessories-types {
  overflow-x: auto;
}

.accessories-types nav {
  display: flex;
  gap: 30px;
}

.accessories-types ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.accessories-types li {
  cursor: pointer;
  margin-bottom: 10px;
  padding-right: 15px;
}

.accessories-types .active {
  color: #a00000;
}

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  min-width: 50%; /* 2 items on small screens */
}

@media (min-width: 768px) {
  .carousel-item {
    min-width: 33.33%; /* 3 items on medium screens */
  }
}

@media (min-width: 1024px) {
  .carousel-item {
    min-width: 25%; /* 4 items on large screens */
  }
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.image-wrapper {
  position: relative;
}

.product-card img {
  width: 100%;
  display: block;
}

.product-card h4 {
  color: rgb(65, 65, 221);
  text-align: left;
  margin: 10px 0 5px;
}

.product-card p {
  text-align: left;
  margin: 0 0 10px;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 50px;
  padding: 10px 0;
}

.image-wrapper:hover .product-overlay {
  opacity: 1;
}

.product-add-to-cart {
  background: #ff6600;
  border: none;
  padding: 10px 20px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.product-add-to-cart:hover {
  background: #ff4500;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-container:hover .carousel-buttons {
  opacity: 1;
}

.carousel-buttons button {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 20px 10px;
  cursor: pointer;
  font-size: 18px;
}

.carousel-buttons button:hover {
  background-color: orange;
  color: white;
}

@media screen and (max-width: 767px) {
  .product-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .accessories-types nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 14px;
  }

  .accessories-types li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

/* End products section */

/* ads section */

.ads {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.ads > .ads-img img {
  width: 300px;
}

@media screen and (max-width: 952px) {
  .ads > .ads-img {
    margin: auto;
  }
  .ads > .ads-img:not(:first-child) {
    display: none;
  }
}

/* end ads section */

  /* slow slider */
  .brand-name {
    align-items: center;
    background: #f7f4f4;
    display: flex;
    justify-content: center;
    margin-block: 20px;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  

  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 80px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 970px;
    
    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
      background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    
    .slide {
      height: 100px;
      width: 250px;
    }
  }

  /* end of slow slider */

/* footer section  */
footer {
    background: rgb(37, 37, 58);
    color: white;
    text-align: center;
    padding: 10px 0 0;
    width: 100%;
    bottom: 0;
}

.footer-text {
    color: grey;
    font-size: 15px;
}



@media screen and (max-width: 952px) {
  .top-footer-section {
    margin: 40px 20px 10px;
  }
  .top-footer-section p {
    font-size: small;
    padding-block: 10px;
  }
}

.middle-footer-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 90%;
    margin-inline: auto;
}

.middle-footer-section > div {
    text-align: left;
    width: 18%;
}

.middle-footer-section > div > h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: red;
}

.middle-footer-section > div > P {
    line-height: 1.2rem;
    padding-block: 10px;
}

@media screen and (max-width: 952px) {
  .middle-footer-section > div {
    width: 100%;
  }

  .middle-footer-section > div > p {
    padding-block: 10px;
    font-size: small;
  }

  .middle-footer-section > div:not(:first-child) {
    display: none;
  }
}

.bottom-footer-section {
    width: 90%;
    margin-inline: auto;
    
}

.bottom-footer-section > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-footer-section > div > i {
    color: orange;
}

.bottom-footer-section > p {
    text-align: left;
    padding-block: 10px;
}

.bottom-footer-section .FAQ {
    display: none;
}

.faq-section {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.faq-item {
  border-bottom: 1px solid #444;
  padding: 10px 0;
  width: 100%;
  transition: all 0.3s;
}

.faq-section > .faq-item > .faq-question{
  display: flex;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
  transition: max-height 0.3s ease;
  text-align: left;
}

.faq-answer p {
  margin: 0;
}

.toggle-icon {
  font-size: 20px;
}


.bottom-footer {
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.411);
}

.bottom-footer > div {
    display: flex;
    width: 90%;
    margin-inline: auto;
    padding: 15px 0;
}


  @media screen and (max-width: 952px) {
    .bottom-footer-section .FAQ {
      display: block;
  }
    .bottom-footer-section {
      padding-block: 10px;
    }
    .bottom-footer > div > p {
      font-size: small;
    }
  }
  /* end of footer section */